<nav>
  <mat-toolbar class="royal_azure">
    <div class="main-content">
      <h2 routerLink="/"><a>BookStore</a></h2>
      <a mat-button routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a mat-button routerLink="offers" routerLinkActive="active">Offers</a>
    </div>
    <div class="spacer"></div>
    <div class="secondary-content">
      <a mat-button routerLink="user/register" routerLinkActive="active" *ngIf="!isLogged">Register</a>
      <a mat-button routerLink="user/profile" routerLinkActive="active" *ngIf="isLogged">Profile</a>
      <a mat-button routerLink="admin/books" routerLinkActive="active" *ngIf="isLogged">Books</a>
      <a mat-button routerLink="user/login" routerLinkActive="active" *ngIf="!isLogged">Login</a>
      <button mat-button (click)="onLogout()" *ngIf="isLogged">Logout</button>
    </div>
  </mat-toolbar>
</nav>
