a, button {
  color: white;
  text-decoration: none !important;
}

mat-toolbar.royal_azure a.active {
  background-color: var(--blue_ryb);
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  display: inline-block;
}

.main-content h2 {
  margin-right: 20px;
  color: white;
  text-align: center;

  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

