a, button {
  color: white;
  text-decoration: none !important;
}

mat-toolbar.royal_azure a.active, mat-sidenav.royal_azure a.active {
  background-color: var(--blue_ryb);
}

mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  display: inline-block;
}

.main-content h2 {
  margin-right: 20px;
  color: white;
  text-align: center;

  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

mat-sidenav {
  min-width: 250px;
}

mat-sidenav h1 {
  text-align: center;
  margin-top: 25px;
}

mat-list-item a {
  width: 100%;
}

